@use "sass:color";

$black: #111113;
$green: #5abe8c;
$red: #d84242;
$gold: #a57e5a;
$yellow: #fa9f42;

$text-primary: #e2e2e2;
$text-primary-hover: #ffffff;
$text-secondary: #c4c4c4;
$text-muted: #a1a1a1;

$border-primary: #404040;
$border-hover: #737373;

$background-primary: #111113;
$background-secondary: #202020;
$background-tertiary: #272727;
$background-hover: #383838;

$card-background: $background-secondary;
$card-background-secondary: $background-tertiary;
$card-background-hover: $background-hover;
$card-border: $border-primary;
$card-border-hover: $border-hover;

$dropdown-background: $background-secondary;
$dropdown-item-hover: $background-hover;
$dropdown-border: $border-primary;

$select-background: color.adjust($background-secondary, $lightness: 10%);
$select-item-hover: color.adjust($background-hover, $lightness: 10%);
$select-border: $border-primary;
$select-border-hover: $border-hover;

$input-background: color.adjust($background-secondary, $lightness: 10%);
$input-border: $border-primary;
$input-border-hover: $border-hover;

$tooltip-background: color.adjust($background-secondary, $lightness: 15%);

$dialog-background: $background-secondary;
$dialog-border: $border-primary;
