@use "./colours" as c;

.rt-TooltipContent {
  background-color: c.$tooltip-background;

  .rt-TooltipArrow {
    fill: c.$tooltip-background;
  }

  p {
    font-size: 0.8rem;
    color: c.$text-primary;
  }
}
