$red: #d84242;

$text-primary: #e2e2e2;
$text-primary-hover: #ffffff;
$text-secondary: #c4c4c4;
$text-muted: #a1a1a1;

$border-primary: #404040;

$card-background: #202020;
$card-background-dark: #272727;
$card-background-darker: #2f2f2f;
$card-border: $border-primary;
$card-border-hover: #737373;

$tooltip-background: #505050;
