@use "../styles/colours" as c;
@use "sass:math";

.card-preview {
  position: relative;
  perspective: 1000px;
  margin: 12px 0;

  .card-stack-card {
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;

    .card-preview-front,
    .card-preview-back {
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .card-preview-back {
      transform: rotateY(180deg);
    }
  }

  &.clickable {
    cursor: pointer;
  }

  &.large,
  &.large .card-stack,
  &.large .card-stack-card,
  &.large img {
    height: 350px;
    min-width: math.round(350px * 0.714);
    width: math.round(350px * 0.714);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  &.small,
  &.small .card-stack,
  &.small .card-stack-card,
  &.small img {
    height: 275px;
    min-width: math.round(275px * 0.714);
    width: math.round(275px * 0.714);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }

  img,
  .rt-Skeleton {
    border-radius: 4.75% / 3.5%;
  }

  .rt-BaseButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 55px;
    background-color: rgba(c.$card-border, 0.8);
    color: c.$text-primary;
    cursor: pointer;
    z-index: 9999;
  }
}
