@use "../styles/colours" as c;
@use "../styles/ItemCard.scss";

.commander-preview.item-card {
  @extend .item-card;

  background-image: radial-gradient(rgba(25, 21, 30, 0.7)), var(--url);
  padding: 15px 15px 0 15px;
  min-width: 225px;

  .name {
    font-size: 1.2rem;
    font-weight: bold;
    color: c.$text-primary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }

  .stats {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: bold;
    color: c.$text-secondary;
  }
}
