@use "../styles/colours" as c;

.deck-card-dropdown-menu {
  .rt-BaseButton {
    cursor: pointer;
    background-color: rgba(c.$card-border, 0.6);

    &:hover {
      background-color: rgba(c.$card-border, 1);
    }
  }
}
