@use "../styles/colours" as c;

.deck-header {
  .deck-name {
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: c.$text-primary;
  }

  .deck-version {
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: c.$text-secondary;
  }

  .deck-commander {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    color: c.$text-secondary;
  }

  .deck-builder {
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: c.$text-secondary;
  }

  .rt-BaseButton {
    cursor: pointer;
    background-color: rgba(c.$card-border, 0.6);

    &:hover {
      background-color: rgba(c.$card-border, 1);
    }
  }
}
