@use "../styles/colours" as c;

.deck-by-id-viewer {
  .data-card {
    padding: 15px;
    border-radius: 10px;
    background-color: c.$card-background;

    .title {
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: c.$text-secondary;
    }

    &.actions-card {
      .rt-BaseButton {
        cursor: pointer;
      }
    }
  }
}
