.deck-version-viewer {
  .selected {
    background-color: #222;
    &::after {
      box-shadow: 0 0 0 1px gray;
    }
  }

  .rt-Card > div:first-child {
    cursor: pointer;
    &:hover > .rt-Heading {
      text-decoration: underline;
    }
  }
}
