@use "../styles/common/colours" as c;

.deck-version-viewer-container {
  position: relative;

  &.preview {
    .deck-version-viewer {
      border: 2px solid c.$red;
      padding-top: 35px;
    }

    .preview-heading {
      font-size: 1.2rem;
      line-height: 1.2rem;
      font-weight: bold;
      color: c.$text-primary;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }

  .deck-version-viewer {
    overflow: scroll;
    border-radius: 10px;
    border: 2px solid c.$card-border;
    padding: 25px 10px;

    &::before,
    &::after {
      content: "";
      margin: 0 auto;
    }

    &:not(.expanded) {
      max-height: 350px;
    }

    .version-card {
      border-radius: 10px;
      border-radius: 10px;
      border: 3px solid c.$card-border;
      background-color: c.$card-background-secondary;
      padding: 15px;

      &.selectable {
        cursor: pointer;

        &:hover {
          border-color: c.$card-border-hover;
        }
      }

      &.selected {
        border-color: c.$card-border-hover;
      }

      .version-name {
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: bold;
        color: c.$text-primary;
      }

      .version-date {
        font-size: 0.8rem;
        line-height: 0.8rem;
        color: c.$text-secondary;
      }
    }
  }

  .expand {
    position: absolute;
    height: 30px;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(transparent, #333);
    cursor: pointer;

    .expand-text {
      font-size: 0.9rem;
      line-height: 0.9rem;
      color: c.$text-secondary;
    }
  }
}
