@use "../styles/colours" as c;
@import "@radix-ui/themes/styles.css";

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a {
  color: white !important;
  text-decoration-color: white !important;
  text-underline-offset: 3px !important;
}

.thumbnail-tooltip {
  position: fixed;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 9999;
}

.arrow-connector {
  position: relative;
  width: 35px;
  min-width: 35px;
  height: 2px;
  background-color: white;
  margin-right: 6px;
}

.arrow-connector::after {
  content: "";
  position: absolute;
  right: -5px;
  top: -3px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent; /* Top part of the arrow */
  border-bottom: 4px solid transparent; /* Bottom part of the arrow */
  border-left: 6px solid white; /* The arrow head */
}

ul {
  list-style: disc !important;
  margin-left: 10px !important;
}

.rt-Flex p.rt-Text[id^="radix-"] {
  display: none;
}

.rt-TooltipContent {
  background-color: c.$tooltip-background;

  .rt-TooltipArrow {
    fill: c.$tooltip-background;
  }

  p {
    font-size: 0.8rem;
    color: c.$text-primary;
  }
}

.rt-BaseButton:not([data-disabled="true"]),
.rt-SegmentedControlItem,
.react-select__control {
  cursor: pointer !important;
}

.rt-BaseButton[data-disabled="true"] {
  cursor: not-allowed !important;
}

.rt-PopperContent {
  box-shadow: none;
  overflow: visible;

  .rt-DropdownMenuViewport {
    background-color: c.$dropdown-background;
    border: 1px solid c.$dropdown-border;
    border-radius: 5px;
  }

  .rt-DropdownMenuSeparator {
    background-color: c.$dropdown-border;
  }

  .rt-DropdownMenuItem[data-highlighted]:not([data-accent-color="red"]) {
    background-color: c.$dropdown-item-hover;
  }
}

.react-select-container {
  .react-select__control {
    background-color: c.$select-background;
    border: 2px solid c.$select-background;

    &:hover {
      border-color: c.$select-border-hover;
    }
  }

  .react-select__control--is-focused {
    border: 2px solid c.$select-border-hover;
    box-shadow: none;
  }

  .react-select__indicator {
    color: c.$text-secondary;

    &:hover {
      color: c.$text-muted;
    }
  }

  .react-select__indicator-separator {
    background-color: c.$text-secondary;
  }

  .react-select__single-value {
    color: c.$text-primary;
  }

  .react-select__placeholder {
    color: c.$text-muted;
  }

  .react-select__menu {
    background-color: c.$select-background;
    border: 2px solid c.$select-border;
  }

  .react-select__option,
  .select-option-container {
    background-color: c.$select-background;
    color: c.$text-primary;

    &:hover {
      background-color: c.$select-item-hover;
    }
  }

  .react-select__multi-value {
    background-color: c.$select-item-hover;
    border-radius: 7px;
  }

  .react-select__multi-value__label {
    color: c.$text-primary;
  }

  .react-select__multi-value__remove:hover {
    background-color: c.$select-item-hover;
    background-color: c.$red;
    color: c.$text-primary;
    border-radius: 0 7px 7px 0;
  }
}

.rt-TextFieldRoot,
.rt-TextAreaRoot {
  background-color: c.$input-background;
  border: 2px solid c.$input-background;
  box-shadow: none;
  padding: 0;
  outline: none;
  height: 40px;

  &:hover {
    border-color: c.$input-border-hover;
  }

  &:focus-within,
  &:focus {
    border-color: c.$input-border-hover;
    box-shadow: none;
  }

  .rt-TextFieldInput,
  .rt-TextAreaInput {
    color: c.$text-primary;
    font-weight: 500;
    outline: none;

    &:focus,
    &:focus {
      color: c.$text-primary;
      box-shadow: none;
    }

    &:placeholder-shown,
    &:placeholder-shown {
      color: c.$text-muted;
    }
  }
}
