@use "../styles/colours" as c;
@import "@radix-ui/themes/styles.css";

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a {
  color: white !important;
  text-decoration-color: white !important;
  text-underline-offset: 3px !important;
}

.thumbnail-tooltip {
  position: fixed;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 9999;
}

.arrow-connector {
  position: relative;
  width: 35px;
  min-width: 35px;
  height: 2px;
  background-color: white;
  margin-right: 6px;
}

.arrow-connector::after {
  content: "";
  position: absolute;
  right: -5px;
  top: -3px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent; /* Top part of the arrow */
  border-bottom: 4px solid transparent; /* Bottom part of the arrow */
  border-left: 6px solid white; /* The arrow head */
}

ul {
  list-style: disc !important;
  margin-left: 10px !important;
}

.rt-Flex p.rt-Text[id^="radix-"] {
  display: none;
}

.rt-TooltipContent {
  background-color: c.$tooltip-background;

  .rt-TooltipArrow {
    fill: c.$tooltip-background;
  }

  p {
    font-size: 0.8rem;
    color: c.$text-primary;
  }
}

.rt-BaseButton,
.rt-SegmentedControlItem,
.react-select__control {
  cursor: pointer !important;
}
