@use "../styles/colours" as c;
@use "../styles/ItemCard.scss";

.player-preview.item-card {
  @extend .item-card;

  background-image: radial-gradient(rgba(25, 21, 30, 0.6)), var(--url);
  padding: 15px;
  height: 215px;

  .name {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: bold;
    color: c.$text-primary;
  }

  .played {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bold;
    color: c.$text-primary;
  }

  .stats {
    font-size: 2rem;
    line-height: 2rem;
    color: c.$text-primary;
  }
}
