@use "../styles/common/colours" as c;

.select-option-container {
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}

.player-select-option-container {
  gap: 0.5rem;
  align-items: center;
}

.deck-select-option-container {
  flex-direction: column;

  span.detail {
    font-size: 0.8rem;
    color: c.$text-muted;
  }
}
